{% extends 'base.html' %}
{% block content %}
{{block.super}}
{% load bootstrap4 %}
{% load static %}



{% block styles %}
{% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/projectid.css' %}">

{% endblock %}
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta charset="UTF-8">
    <title>Neshco-awards</title>
</head>
<body>
<div class="container">
<div class="row">




{% for projects in projects %}
       <div class="col-sm-12 col-md-5 col-lg-4">

           <a  href="project/{{projects.id}}">{% load cloudinary %}{% cloudinary projects.project_photo.public_id className="my-class" height=200 width=300 %}
           <br>
           <a  href="project/{{projects.id}}">{{projects.project_name}}</a>

       <a target="_blank" href="{{projects.project_link}}" ><input type="button" value="View live project" class="btn btn-warning"></a>

               <a target="_blank" href="{% url 'home2'  %}"   class="badge badge-success">vote here</a>


           </div>
{% endfor %}
    </div>





</div>
</body>

{% endblock %}