{% extends 'base.html' %}
{% block content %}
{{block.super}}
{% load bootstrap4 %}
{% load static %}



{% block styles %}
{% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/projectid.css' %}">

{% endblock %}
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta charset="UTF-8">
    <title>Neshco-awards</title>
</head>
<body>
<div class="container">
<div class="row">




{% for projects in projects %}
       <div class="col-sm-12 col-md-5 col-lg-4">

           <a  href="project/{{projects.id}}"><img src="{{projects.project_photo.url}}" class="img-responsive" width="300" height="200" style="padding:20px"></a>
           <br>
           <a  href="project/{{projects.id}}">{{projects.project_name}}</a>
       <a target="_blank" href="{{projects.project_link}}" ><input type="button" value="View live project" class="btn btn-warning"></a>
           </div>
{% endfor %}
    </div>





</div>
</body>

{% endblock %}