{%extends "base.html"%}

{% block content %}
{{block.super}}
{% load bootstrap4 %}
{% load static %}



{% block styles %}
{% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/projectid.css' %}">
{% endblock %}
<body>
<div class="container">
<div class="row">


            {% if profile %}
    <br><br><br>
 {% load cloudinary %}{% cloudinary profile.profile_photo.public_id className="my-class" height=300 width=300 %}
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="padding:10px;">



                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="padding:10px;">
                <h5 style="font-size:35px;">{{profile.username}}</h5>

               {% autoescape on %}
  <p>{{profile.bio|  safe}}</p>
    {% endautoescape %}




            {% endif %}

                {% if profile.user == current_user%}
                <a href="{% url 'update_profile' %}"><button class="btn btn-primary">Edit Profile</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <span class="glyphicon glyphicon-plus-sign" style="font-size:35px;"></span>
                </a>
                {% else %} <h3>Profile has not been created yet</h3>
                <a href="{% url 'update_profile'%}"><button class="btn btn-primary">Create Profile</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% endif %}





</div>
       <h1>PROJECTS</h1>
     <a  href="{% url 'create_project' %}"><button class="btn btn-primary" >Create Project</button></a>&nbsp;&nbsp;&nbsp;

    <div class="row">

          {% if project %}

            {% for project in project %}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" style="padding:10px;">

               <img src="{{project.project_photo.url}}" class="img-responsive" width="300" height="200" style="padding:20px">
    <br>
              {{project.project_name}}
               {% autoescape on %}
            <p>{{project.project_description| safe}}</p>
    {% endautoescape %}


            <a target="_blank" href="{{project.project_link}}">{{project.project_link}}</a>
            <br>


     <a  href="{% url 'update_projects' project.id %}"><button class="btn btn-primary" >Edit Project</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
            {% endfor %}

          {% endif %}
    </div>
           {% if project%}

           {% else %} <h3>Project has not been created yet</h3>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% endif %}
    </div>

</div>

</body>


{% endblock %}