{%extends "base.html"%}

{% block content %}
{{block.super}}
{% load bootstrap4 %}
{% load static %}



{% block styles %}
{% bootstrap_css %}

{% endblock %}
<body>
<div class="container">
<div class="row">


            {% if profile %}
    <br><br><br>
      <img src={{profile.profile_photo.url}} class="img-responsive img-rounded" style="float:left; height:300px; width:300px;">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="padding:10px;">



                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="padding:10px;">
                <h5 style="font-size:35px;">{{profile.username}}</h5>


                             <p>{{profile.bio}}</p>



            {% endif %}

                {% if profile.user == current_user%}
                <a href="{% url 'update_profile'%}"><button class="btn btn-primary">Edit Profile</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <span class="glyphicon glyphicon-plus-sign" style="font-size:35px;"></span>
                </a>
                {% else %} <h3>Profile has not been created yet</h3>
                <a href="{% url 'update_profile'%}"><button class="btn btn-primary">Create Profile</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% endif %}





</div>
       <h1>PROJECTS</h1>
    <div class="row">
          {% if project %}
            {% for project in project %}
        <div class="col-md-4">
               <img src="{{project.project_photo.url}}" class="img-responsive" width="300" height="200" style="padding:20px">
    <br>
              {{project.project_name}}
               {% autoescape on %}
{{project.project_description| safe}}
    {% endautoescape %}


            <a target="_blank" href="{{project.project_link}}">{{project.project_link}}</a>


     <a  href="{% url 'update_projects'%}"><button class="btn btn-primary" >Edit Project</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
            {% endfor %}

          {% endif %}
    </div>
           {% if project%}

           {% else %} <h3>Project has not been created yet</h3>
           <a href="{% url 'update_projects'%}"><button class="btn btn-primary">Create Project</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% endif %}

</div>

</body>


{% endblock %}