{%extends "base.html"%}

{% block content %}
{{block.super}}
{% load bootstrap4 %}
{% load static %}



{% block styles %}
{% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/projectid.css' %}">
{% endblock %}
<body>
<div class="container">
<div class="row">
  <div class="col-sm-12 col-md-5 col-lg-6">

        <a href="/">Back</a>
    <br>




    <img src="{{project.project_photo.url}} "  class="image" width="900" height="700">



        {% autoescape on %}
          <p>{{project.project_description| safe}}</p>
        {% endautoescape %}
            {% if project.user == current_user %}
              <a href="{% url 'update_projects'%}"><button class="btn btn-primary">Edit Project</button></a>&nbsp;&nbsp;
            {% endif %}

    </div>


</div>
</div>

</body>
{% endblock %}