{%extends "base.html"%}

{% block content %}
{{block.super}}
{% load bootstrap4 %}
{% load static %}



{% block styles %}
{% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/projectid.css' %}">
{% endblock %}
<body>
<div class="container">
<div class="row">


        <a href="/">Back</a>
    <br>



  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
   {% load cloudinary %}{% cloudinary project.project_photo.public_id className="my-class"  height=200 width=300 %}



        {% autoescape on %}
          <p>{{project.project_description| safe}}</p>

        {% endautoescape %}
      <div class="badge badge-warning">posted:{{project.pub_date|timesince}} ago</div>
            {% if project.user == current_user %}
              <a href="{% url 'update_projects' project.id %}"><button class="btn btn-primary">Edit Project</button></a>&nbsp;&nbsp;
            {% endif %}

    </div>


</div>
</div>

</body>
{% endblock %}